.settings-popover-component {
  button {
    border-radius: 35px;
  }
}

.settings-popover-modal {
  text-align: center;

  i {
    color: #ffb300;
    font-size: 24px;
    margin-right: 10px;
    vertical-align: middle;
  }
}