.search-bar-controllers-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5px 5px;

  .found-problems-label {
    color: gray;
  }

  .controllers-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .area-select {
      width: 100px;
      & > a {
        background-color: transparent !important;
        border: none;

        & > span.rs-picker-toggle-placeholder {
          color: #575757;
        }
      }
    }

    .order-select {
      width: 120px;

      & > a {
        background-color: transparent !important;
        border: none;
        text-align: right;

        & > span.rs-picker-toggle-placeholder {
          color: #575757;
        }

        .rs-picker-toggle-clean {
          right: 27px;
        }

        .rs-picker-toggle-caret {
          right: 7px;
        }

        .rs-picker-toggle-value {
          color: inherit;
        }
      }
    }

    .icon-controller {
      padding: 10px;
      cursor: pointer;
      width: 25px;
      height: 25px;
      box-sizing: content-box;

      img {
        width: 100%;
        opacity: 0.8;
        transition: all 0.3s ease-out;
      }

      &:hover img {
        opacity: 1;
      }
    }
  }
}
