.search-bar-controllers-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5px 0;

  .found-problems-label {
    color: gray;
    margin-right: 10px;
  }

  .controllers-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .loader-wrapper {
      margin-left: 50px;
      display: flex;
      animation: 0.5s fadeIn;
      animation-fill-mode: forwards;
      visibility: hidden;
    }

    .rs-checkbox-group-inline {
      margin-left: 0;
      margin-right: 10px;
    }

    .order-select {
      & > a {
        background-color: transparent !important;
        border: none;

        & > span.rs-picker-toggle-placeholder {
          color: #575757;
        }

        .rs-picker-toggle-clean {
          right: 27px;
        }

        .rs-picker-toggle-caret {
          right: 7px;
        }

        .rs-picker-toggle-value {
          color: inherit;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
