.search-setting-icon-component {
  padding: 10px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  box-sizing: content-box;

  img {
    width: 100%;
    opacity: 0.8;
    transition: all 0.3s ease-out;
  }

  &:hover img {
    opacity: 1;
  }

  .rs-badge {
    .rs-badge-content {
      background-color: transparent;
      top: -5px;
      right: -5px;
    }

    &.show .rs-badge-content {
      background-color: #2196f3;
    }
  }
}

.search-setting-icon-modal {
  .rs-modal-content {
    border-radius: 25px;

    .rs-modal-title {
      font-size: 18px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    }

    .rs-modal-body {
      margin-top: 15px;

      p {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 100;
        color: black;
      }

      .rs-picker-check {
        margin-bottom: 15px;
        width: 100%;
      }

      .date-wrapper {
        display: flex;
        align-content: center;
        justify-content: space-between;

        & > div {
          flex: 1 1 auto;

          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }

    .rs-modal-footer {
      text-align: left;

      button {
        border-radius: 35px;
        padding: 8px 20px;

        &.btn-reset {
          float: right;
        }
      }
    }
  }
}
