.app-component {
  background-color: #ebf0f3;
  padding: 15px;
  min-height: 100vh;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  .search-wrapper {
    display: flex;
    align-content: space-between;
    align-items: center;
    padding-bottom: 15px;

    .rs-divider {
      margin: 0 20px;
      height: 25px;
    }
  }
}

.rs-modal-content {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}