body {
  overflow-y: scroll;
  padding-right: 0 !important;
}

.rs-drawer-open.rs-drawer-has-backdrop,
.rs-modal-open.rs-modal-has-backdrop {
  overflow-y: scroll;

  .rs-picker-menu {
    position: fixed;
    z-index: 1070;
  }
}

.app-component {
  background-color: #ebf0f3;
  padding: 15px;
  min-height: 100vh;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  .search-wrapper {
    display: flex;
    align-content: space-between;
    align-items: center;
    padding-bottom: 15px;

    .rs-divider {
      margin: 0 20px;
      height: 25px;
    }
  }

  .app-content {
    max-width: 960px;
    margin: 0 auto;
  }

  .btn-settings {
    color: #748894;
    text-decoration: none;
    opacity: 0.6;
    padding: 0;
    float: right;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 1;
    }

    i {
      margin-right: 3px;
    }
  }
}

.rs-modal-wrapper {
  z-index: 1070;

  .rs-modal-content {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
}
